
nicegui>=2.20.0
numpy>=1.26.4

diffusers>=0.34.0
transformers>=4.49.0
accelerate>=1.1.1
safetensors>=0.4.5

Pillow>=10.4.0
pydantic>=2.11.7
tomli>=2.2.1
aiofiles>=24.1.0

#for Window user
pywin32>=310
colorama>=0.4.6
